/* Genel ayarlar */
body {
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Uygulama konteyneri */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* İçerik alanı */
.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Sidebar genişliği */
  transition: margin-left 0.3s ease-in-out;
}

/* Sidebar kapandığında içerik kayma ayarı */
.drawer-closed ~ .main-content {
  margin-left: 80px;
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  margin-top: auto;  /* Footer'ın en alta sabitlenmesini sağlar */
  position: relative;
  bottom: 0;
}
